@import "tailwindcss";
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #13adc7, #6978d1, #945dd6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #31cbe5, #8796ef, #b27bf4);
}
html {
  scroll-behavior: smooth;
}
